@media screen and (min-width: 800px){

    body{
        display: flex;
    }

    #MainContent_Container{
        width: -webkit-fill-available;
    }

    #NavBar{
    }

    #NavBar_SideMenuIcon{
        display: none;
    }
    
    #NavBar_Logo{
        display: none;
    }

    .Unfinished_Tasks{
    }

    #NewTask_InputDisplay{
        width: 40vw;
        left: calc(50% - 20vw);
    }

    #SideMenu{
        width: max-content;
        animation-name: none;
        position: sticky;
    }

    #SideMenu_Home_AcomplishedTasks_StadisticsANDHelp{
        padding: 2rem 1rem;
    }

    #SideMenu.Removing{
        animation-name: none;
    }
    
}