#HelpHeader__MainDisplay--Container{
    margin: auto;
    z-index: 1;
    font-family: 'Segoe UI';
}

#HelpHeader__MainDisplay--Container h1{
    font-size: min(15vw, 90px);
    text-align: center;
    width: max-content;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    animation: writting 1s steps(11, end), blinking .75s step-end 2;
}

#HelpHeader__MainDisplay--Container h2{
    font-size: min(10vw, 60px);
    text-align: center;
    margin: 0 auto;
    color: #dff0e0;
    width: 0;
    height: max-content;
    white-space: nowrap;
    text-shadow: 3px 0px var(--MainBrownColor), -3px 0px var(--MainBrownColor), 0px 3px var(--MainBrownColor), 0px -3px var(--MainBrownColor), 2px 2px var(--MainBrownColor), -2px -2px var(--MainBrownColor), 2px -2px var(--MainBrownColor), -2px 2px var(--MainBrownColor);
    animation: 1.5s writting 1.5s steps(23, end) forwards, .75s blinking 1.5s step-end 3, 0.1s removeOverflow 3s forwards;
    overflow: hidden;
}

@keyframes removeOverflow {
    from {overflow: hidden;}
    to {overflow: visible;}
}

#Help__MainBodySection{
    display: flex;
}

#Help__MainBodySection--Container{
    margin: auto;
}
