:root{
    --MainBrownColor: #735d66;
    --MainGreenColor: rgb(187,234,189);
}

body{
    background: linear-gradient(180deg, rgb(244 244 244) 100vh, rgba(180,227,182, 0.6) 100vh);
    margin: 0;
    font-family: 'Valken Regular';
    color: var(--MainBrownColor);
    user-select: none;
}

.Header{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Header__NavBar{
    height: 100px;
}

.Header__NavBar--List{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: min(30px, 5vw);
    padding: 30px min(5rem, 9vw);
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 5;
    margin: 0;
    background: rgb(244,244,244);
    background: linear-gradient(90deg, rgba(244,244,244,0.9) 20%, rgba(244,244,244,0.5) 50%, rgba(244,244,244,0.9) 91%);
    backdrop-filter: blur(5px);
    width: -webkit-fill-available;
}

.Header__NavBar--List_Title{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.Header__NavBar--List_Title img{
    margin-right: 10px;
    max-width: 40px;
}

.Header__NavBar--List_SignIn, .Header__NavBar--List_SignUp{
    padding: 3px min(1.5rem, 4vw);
    margin-left: min(30px, 2vw);
    border-radius: 13px;
    font-size: min(30px, 3.5vw);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.20);
}

.Header__NavBar--List_SignIn{
    background-color: var(--MainGreenColor);
    color: var(--MainBrownColor);
    margin-left: min(100px, 5vw);
}
.Header__NavBar--List_SignIn:hover{
    color: rgb(244,244,244);
}

.Header__NavBar--List_SignUp{
    background-color: var(--MainBrownColor);
    color: var(--MainGreenColor);
}
.Header__NavBar--List_SignUp:hover{
    background-color: rgb(71 142 74);
    color: var(--MainGreenColor);
}

.Header__NavBar--List_Profile, .Header__NavBar--List_LogOut{
    margin-left: min(30px, 2vw);
}

.Header__MainDisplay{
    display: flex;
    height: 100%;
    background: var(--MainGreenColor);
    background: linear-gradient(180deg, rgba(187,234,189,0) 0%, rgba(187,234,189,0.6) 100%);
}

.Header__MainDisplay.mainPage::before{
    content: '';
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: block;
    background-image: url('../Images/BackgroundPattern.svg');
    position: absolute;
}

.Header__MainDisplay--Container{
    z-index: 1;
    margin: auto;
}

.Header__MainDisplay--Container h1{
    margin: 0 auto;
    font-family: 'Segoe UI';
    font-size: min(15vw, 90px);
    text-align: center;
}
.Header__MainDisplay--Container.mainPage h1{
    overflow: hidden;
    white-space: nowrap;
    animation: writting 1s steps(12, end), blinking .75s step-end 2;
}


@keyframes writting {
    0%{width: 0%;}
    100%{width: 100%;} 
}
 
@keyframes blinking {
    from, to {border-right: 1px solid transparent;}
    50% {border-right: 1px solid black;}
}
 

.Header__MainDisplay--Container_Buttons{
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    font-size: min(5vw, 30px);
    margin-top: 15%;
}

.Header__MainDisplay--Container_Buttons li{
    border-radius: 20px;
    padding: 15px min(7vw, 40px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.20);
}

.Header__MainDisplay--Container_Buttons.mainPage li:nth-child(1){
    background-color: var(--MainGreenColor);
    color: var(--MainBrownColor);
}
.Header__MainDisplay--Container_Buttons.mainPage li:nth-child(1):hover{
    color: rgb(244,244,244);
}

.Header__MainDisplay--Container_Buttons.mainPage li:nth-child(2){
    background-color: var(--MainBrownColor);
    color: var(--MainGreenColor);
}
.Header__MainDisplay--Container_Buttons.mainPage li:nth-child(2):hover{
    background-color: rgb(71 142 74);
}

#MainBodySection{
    min-height: fit-content;
    border-radius: min(10vw, 100px) min(10vw, 100px) 0 0;
    z-index: 2;
    background: var(--MainGreenColor);
    background: linear-gradient(180deg, rgba(244, 244, 244) 0%, rgba(187,234,189,0.6) 100%);
    overflow: hidden;
}

#MainBodySection::before{
    content: '';
    display: block;
    width: 100%;
    height: min(500px, 50vw);
    background-image: url('../Images/BackgroundPattern2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#MainBodySection__Text{
    margin: auto;
    padding: 0 min(5rem, 2vw) 10rem min(5rem, 5.5vw);
    font-size: min(30px, 5vw);
}

#MainBodySection__Text h3{
    font-family: 'Segoe UI';
    font-weight: 900;
    font-size: min(2.2rem, 6vw);
}

#MainBodySection__Text p{
    text-indent: 30px;
    font-family: auto;
    margin: 0;
    margin-top: 0.5rem;
}

#MainBodySection__Text p:nth-child(1){
    margin-top: 1rem;
}



@media screen and (max-width: 450px) {
    .Header__NavBar--List li:nth-child(3){
        margin-left: 2vw;
    }
}
